

   

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3">
          <img class="img-circle" src="http://s18.postimg.org/sx5bfx249/htmlcss.jpg" alt="Generic placeholder image" width="140" height="140">
           
           
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="http://s30.postimg.org/4fetth40x/aspnet.jpg" alt="Generic placeholder image" width="140" height="140">
         
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="http://s27.postimg.org/p5frae9gj/image.png" alt="Generic placeholder image" width="140" height="140">
         
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="http://s9.postimg.org/tyrc1odxr/rails.jpg" alt="Generic placeholder image" width="140" height="140">
       
           
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">About Me <span class="text-muted">I'm Awesome!</span></h2>
          <p class="lead">2014 I decided to change my life, and step into coding world. I finished my software diploma course 2 months earlier before allocated time in Computer Power Plus with not too embarrassing grade GPA B+</p>
        </div>
        <div class="col-md-5">
           <img class="img-circle" src="http://s23.postimg.org/fy6y8cluz/IMG_1728.jpg" alt="Generic placeholder image" width="230" height="230">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Contact Me<span class="text-muted"> Do It!</span></h2>
          <p class="lead">Email: nick.li92532@gmail.com</p>
          <p class="lead">Linked: nz.linkedin.com/in/nick92532</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="img-circle" src="http://s28.postimg.org/d71w07tf1/Image024.jpg" alt="Generic placeholder image" width="240" height="240">
        </div>
      </div>

      <hr class="featurette-divider">
 

      <!-- /END THE FEATURETTES -->



 